<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Branches</title>
</head>
<body>
    

    {% if user.is_authenticated%}
        <a href="{% url 'logout' %}">Cerrar sesion</a>

    {%else%}
		<a href="{% url 'login' %}">Iniciar sesion</a>

    {%endif%}

	{% if user.is_authenticated%}
		<h1>Inicio</h1>
		<h2>hola {{ user.get_full_name }}</h2>

	{%else%}
		<h1>bienvenido a mi sitio</h1>
    {%endif%}


    <div class="container">
      <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
          <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
          <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
          <li class="nav-item"><a href="#" class="nav-link">About</a></li>
        </ul>
      </header>
    </div>

    
    <article>
        <header>
          <h1>A heading here</h1>
          <p>Posted by John Doe</p>
          <p>Some additional information here</p>
        </header>
        <p>Lorem Ipsum dolor set amet....</p>
      </article>

    <ul>
        {% for p in usuarios %}
            <li>username: {{p.user_name}} - edad: {{p.edad}}</li>
        {% endfor %}
    </ul>


</body>
</html>